#cst-list .cst-result-toast {
  @include fade;

  width: 330px;
  padding: 14px 26px 14px 13px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #ebeef5;
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  transition: opacity .3s, transform .3s, left .3s, right .3s, top .4s, bottom .3s;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;

  a.close {
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    color: #cecece;
    transition: color 350ms;

    &:hover {
      color: #03A9F4;
    }
  }
}